@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?ff8d6bdd3c74fb6c4ed77f539d75ac2b") format("truetype"),
url("./flaticon.woff?ff8d6bdd3c74fb6c4ed77f539d75ac2b") format("woff"),
url("./flaticon.woff2?ff8d6bdd3c74fb6c4ed77f539d75ac2b") format("woff2"),
url("./flaticon.eot?ff8d6bdd3c74fb6c4ed77f539d75ac2b#iefix") format("embedded-opentype"),
url("./flaticon.svg?ff8d6bdd3c74fb6c4ed77f539d75ac2b#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-play:before {
    content: "\f101";
}
.flaticon-pause:before {
    content: "\f102";
}
.flaticon-fast-forward:before {
    content: "\f103";
}
.flaticon-rewind:before {
    content: "\f104";
}
.flaticon-skip:before {
    content: "\f105";
}
.flaticon-previous:before {
    content: "\f106";
}
.flaticon-menu:before {
    content: "\f107";
}
.flaticon-chart:before {
    content: "\f108";
}
.flaticon-settings:before {
    content: "\f109";
}
.flaticon-plus:before {
    content: "\f10a";
}
.flaticon-minus:before {
    content: "\f10b";
}
.flaticon-cross:before {
    content: "\f10c";
}
.flaticon-expand:before {
    content: "\f10d";
}
.flaticon-search:before {
    content: "\f10e";
}
.flaticon-zoom-in:before {
    content: "\f10f";
}
.flaticon-zoom-out:before {
    content: "\f110";
}
.flaticon-globe:before {
    content: "\f111";
}
.flaticon-right-down:before {
    content: "\f112";
}
.flaticon-right-up:before {
    content: "\f113";
}
.flaticon-right:before {
    content: "\f114";
}
.flaticon-contrast:before {
    content: "\f115";
}
.flaticon-question:before {
    content: "\f116";
}
.flaticon-timeline:before {
    content: "\f117";
}
.flaticon-connections:before {
    content: "\f118";
}
